@font-face {
    font-family: Inter-Regular;
    src: url('../../assets/fonts/Inter-Regular.otf');
}


.ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width:30%;

    .li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
        text-decoration: none;
        width: fit-content;
        

        >li{
            
            text-align: center;
            font-size:14px;
            color:rgba(230, 230, 230,0.5);
            font-family: Inter-Regular;
            height:fit-content;

            &:hover{
                color:rgb(230, 230, 230);
            }
        }
    }
}