@font-face {
    font-family: Inter-Regular;
    src: url('../../../assets/fonts/Inter-Regular.otf');
}


.selectWrapper{
    position: relative;
    width:15%;
    height:fit-content;

    &::before{
        position: absolute;
        content: '';
        height:1px;
        width: 100%;
        bottom:0;
        margin-bottom:-7px;
        background-color: grey;
    }

    .select{
        width:100%;
        text-align: left;
        height:100%;
        color:grey;
        border: 0;
        font-size: 14px;
        cursor:pointer;
        outline:0;
        font-family: Inter-Regular;
        background-color: #000000;
    
        &:focus{
            color:rgb(255,255,255);
        }
    }

}