@font-face {
    font-family: Inter-Regular;
    src: url('../../assets/fonts/Inter-Regular.otf');
}

.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    height:fit-content;
    list-style-type: none;

    .li{
        color:rgba(255,255,255,0.5);
        font-family: Inter-Regular;
        cursor:pointer;

        &:hover{
            color:rgb(255,255,255);
        }
    }
}