@font-face {
    font-family: Inter-Regular;
    src: url('../../../assets/fonts/Inter-Regular.otf');
}

.input{
    border:2px solid grey;
    padding: 0 25px;
    font-family: Inter-Regular;
    font-size: 14px;
    background-color: transparent;
    border-radius: 5px;
    color:rgb(230,230,230);
}