@font-face {
    font-family: Inter-Regular;
    src: url('../../../assets/fonts/Inter-Regular.otf');
}

.input{
    width:25%;
    height:35px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    border-radius: 25px;
    color:white;
    padding: 0 25px;
    font-family: Inter-Regular;
    font-size: 14px;
    
    &:focus{
        outline:none;
    }
}