@font-face {
    font-family: Inter-Regular;
    src: url('../../../assets/fonts/Inter-Regular.otf');
}

.button{
    width:fit-content;
    height:35px;
    color:rgb(230,230,230);
    padding: 0 40px;
    border-radius: 35px;
    font-size:14px;
    font-family: Inter-Regular;
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
    border:1px solid transparent;
    cursor:pointer;

    &:hover{
        background: transparent;
        border:1px solid #E52D27;
    }
}