.button{
    width:160px;
    height:35px;
    border: 1px solid #E52D27;
    border-radius: 25px;
    color:rgb(230,230,230);
    cursor:pointer;
    font-size:14px;

    &:hover{
        background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
    }
}